@import "../../index.scss";

.overlay 
{
    position: absolute;
    top: 0;
    display: none;    
    background-color: var(--overlay-blue);
    height: 100%;
    width: 100%;
    z-index: 3; 
    transition: all ease-in .2s;   
}

.overlay__on
{
   display: flex;   
}

