@import "../../index.scss";

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 43px;                
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box; 
    margin: 0px;   
        
}


